In [184]:
import pandas as pd
import matplotlib.pyplot as plt
import pymysql
from sqlalchemy import create_engine

In [185]:
xl_file = pd.ExcelFile('resources/data exercise.xlsx')
ela_df = pd.read_excel(xl_file, 'ELA Results')
math_df = pd.read_excel(xl_file, 'Math Results')
demo_df = pd.read_excel(xl_file, 'Demographic Information')

In [186]:
ela_df.dropna(axis = 1, how= 'all', inplace = True)
ela_df.dropna(axis = 0, how= 'all', inplace = True)
ela_df.head()

,State Test English Language Arts (ELA) Results 2015 to 2017,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 5,ELA Overall Performance Levels,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Vocabulary Subscores,Unnamed: 23,Unnamed: 24,Unnamed: 25,Writing Expression Subscores,Unnamed: 28,Unnamed: 29,Writing Conventions Subscores,Unnamed: 32,Unnamed: 33
0,School ID,Year,Test Name,# Students Tested,Overall ELA Mean Scale Score,% Did Not Meet,% Partially Met,% Approached,% Met,% Exceeded,...,% Did Not Yet Meet or Partially Met,% Approached,% Met or Exceeded,Writing Mean Scale Score,% Did Not Yet Meet or Partially Met,% Approached,% Met or Exceeded,% Did Not Yet Meet or Partially Met,% Approached,% Met or Exceeded
1,400009,2017,Combined ELA Grades 3-8,179,,19,31.3,22.9,26.3,0.6,...,48.6,22.3,29.1,,53.1,25.1,21.8,47.5,27.4,25.1
2,400011,2017,Combined ELA Grades 3-8,297,,7.7,12.1,38,38.4,3.7,...,33.3,24.9,41.8,,28.6,24.6,46.8,26.9,25.9,47.1
3,400017,2017,Combined ELA Grades 3-8,524,,35.9,28.2,24,10.9,1,...,64.7,18.5,16.8,,67.9,16.6,15.5,66.4,18.9,14.7
4,400021,2017,Combined ELA Grades 3-8,330,,27.9,27,28.2,15.8,1.2,...,53.9,24.2,21.8,,65.5,17,17.6,60.3,18.8,20.9

In [187]:
ela_overall = ela_df[['State Test English Language Arts (ELA) Results 2015 to 2017',
                      'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 5', 'ELA Overall Performance Levels',
                      'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11']]


overall_header = ela_overall.iloc[0] #grab the first row for the header
ela_overall = ela_overall[1:] #take the data less the header row
ela_overall.columns = new_header #set the header row as the df header
ela_overall['Overall ELA Mean Scale Score'] = [0 if x==' ' else x for x in ela_overall['Overall ELA Mean Scale Score']]

ela_overall.head()

,School ID,Year,Test Name,# Students Tested,Overall ELA Mean Scale Score,% Did Not Meet,% Partially Met,% Approached,% Met,% Exceeded,% Met or Exceeded
1,400009,2017,Combined ELA Grades 3-8,179,0.0,19,31.3,22.9,26.3,0.6,26.8
2,400011,2017,Combined ELA Grades 3-8,297,0.0,7.7,12.1,38,38.4,3.7,42.1
3,400017,2017,Combined ELA Grades 3-8,524,0.0,35.9,28.2,24,10.9,1,11.8
4,400021,2017,Combined ELA Grades 3-8,330,0.0,27.9,27,28.2,15.8,1.2,17
5,400023,2017,Combined ELA Grades 3-8,268,0.0,9.3,21.6,32.1,33.2,3.7,36.9

In [188]:
ela_overall['School ID'] = ela_overall['School ID'].astype(int)
ela_overall['# Students Tested'] = ela_overall['# Students Tested'].astype(int)
ela_overall['% Did Not Meet'] = ela_overall['% Did Not Meet'].astype(float)
ela_overall['% Partially Met'] = ela_overall['% Partially Met'].astype(float)
ela_overall['% Approached'] = ela_overall['% Approached'].astype(float)
ela_overall['% Met'] = ela_overall['% Met'].astype(float)
ela_overall['% Exceeded'] = ela_overall['% Exceeded'].astype(float)
ela_overall['% Met or Exceeded'] = ela_overall['% Met or Exceeded'].astype(float)

# ela_overall.head()
ela_overall.dtypes

0
School ID                         int64
Year                             object
Test Name                        object
# Students Tested                 int64
Overall ELA Mean Scale Score    float64
% Did Not Meet                  float64
% Partially Met                 float64
% Approached                    float64
% Met                           float64
% Exceeded                      float64
% Met or Exceeded               float64
dtype: object

In [195]:
pilotList = [610534, 609880, 610066 , 610082, 610182 ]
ela_overall['Pilot'] = [True if x in pilotList else False for x in ela_overall['School ID']]

ela_overall = ela_overall[['School ID','Year','Pilot','Test Name','# Students Tested',
                           'Overall ELA Mean Scale Score','% Did Not Meet','% Partially Met',
                           '% Approached','% Met', '% Exceeded','% Met or Exceeded']]

ela_overall.columns = ela_overall.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

ela_overall.head()

,school_id,year,pilot,test_name,#_students_tested,overall_ela_mean_scale_score,%_did_not_meet,%_partially_met,%_approached,%_met,%_exceeded,%_met_or_exceeded
1,400009,2017,False,Combined ELA Grades 3-8,179,0.0,19.0,31.3,22.9,26.3,0.6,26.8
2,400011,2017,False,Combined ELA Grades 3-8,297,0.0,7.7,12.1,38.0,38.4,3.7,42.1
3,400017,2017,False,Combined ELA Grades 3-8,524,0.0,35.9,28.2,24.0,10.9,1.0,11.8
4,400021,2017,False,Combined ELA Grades 3-8,330,0.0,27.9,27.0,28.2,15.8,1.2,17.0
5,400023,2017,False,Combined ELA Grades 3-8,268,0.0,9.3,21.6,32.1,33.2,3.7,36.9

In [196]:
engine = create_engine("mysql+pymysql://root:Beeonwindow1!@localhost/impactDB", echo=False)

ela_overall.to_sql(name='scores', con=engine, if_exists = 'replace', index=False)